body {
    font-family: Calibri, cursive;
    font-size: 17px;
}
html, body {
    max-width: 100%;
    overflow-x: hidden;
    color: black;
}
/*styling for navigation bar*/
.nav {
    display: inline-block;
    list-style-type: none;
    overflow: hidden;
    width: 100%;
    background-color: darkslategray;
    text-align: right;
    margin-top: 0;
}
.nav a {
    display: inline-block;
    padding: 20px;
    padding-right: 70px;
    color: rosybrown;
}
.nav a:hover {
    color: sandybrown;
}
/*styling for background (below the navigation bar)*/
.style {
    padding: 100px;
    text-align: center;
    background-color: lavender;

}
/*styling for log entry in Post html*/
#blog {
    padding: 80px;
    text-align: center;
    background-color: rosybrown;
}
.design {
    display: inline-block;
    padding: 50px;
    border-radius: 2px;
    border-style: solid;
}

/*styling for footer*/
footer {
    text-align: center;
    background-color:darkslategray;
    color: rosybrown;
    padding: 5px;
    overflow: hidden;
    width: 100%;
   margin-top: 33px;
}